openapi: 3.2.0
info:
  title: Red Hat Repositories API
  contact:
    name: Red Hat Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/terms-use
  version: '1.0'
  description: 'Operations tagged Repositories across 2 of this provider''s published API definitions: red-hat-quay-openapi.yml, red-hat-satellite-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://quay.io/api/v1
  description: Quay.io Production API Server
- url: https://satellite.example.com
  description: Red Hat Satellite Server
tags:
- name: Repositories
  description: Operations for managing container image repositories, including creation, listing, and deletion.
paths:
  /repository:
    get:
      operationId: listRepositories
      summary: Red Hat List Repositories
      description: Retrieves a paginated list of repositories visible to the authenticated user, optionally filtered by namespace, popularity, or last modified date.
      tags:
      - Repositories
      parameters:
      - name: namespace
        in: query
        description: Filter repositories by namespace (organization or user).
        schema:
          type: string
        example: example_value
      - name: starred
        in: query
        description: Filter to only starred repositories.
        schema:
          type: boolean
        example: true
      - name: public
        in: query
        description: Include public repositories.
        schema:
          type: boolean
        example: true
      - name: last_modified
        in: query
        description: Filter by last modified status.
        schema:
          type: boolean
        example: true
      - name: popularity
        in: query
        description: Filter by popularity.
        schema:
          type: boolean
        example: true
      - $ref: '#/components/parameters/NextPageParam'
      responses:
        '200':
          description: Successfully retrieved repositories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryList'
              examples:
                Listrepositories200Example:
                  summary: Default listRepositories 200 response
                  x-microcks-default: true
                  value:
                    repositories:
                    - namespace: example_value
                      name: Example Title
                      description: A sample description.
                      is_public: true
                      kind: image
                      tag_count: 10
                      status_token: example_value
                    next_page: example_value
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    post:
      operationId: createRepository
      summary: Red Hat Create a Repository
      description: Creates a new container image repository in the specified namespace with the given visibility and optional description.
      tags:
      - Repositories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - repository
              - namespace
              - visibility
              properties:
                repository:
                  type: string
                  description: The name of the repository.
                namespace:
                  type: string
                  description: The namespace for the repository.
                visibility:
                  type: string
                  description: The visibility level of the repository.
                  enum:
                  - public
                  - private
                description:
                  type: string
                  description: A description of the repository.
            examples:
              CreaterepositoryRequestExample:
                summary: Default createRepository request
                x-microcks-default: true
                value:
                  repository: example_value
                  namespace: example_value
                  visibility: public
                  description: A sample description.
      responses:
        '201':
          description: Repository created successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://quay.io/api/v1
      description: Quay.io Production API Server
  /repository/{repository}:
    get:
      operationId: getRepository
      summary: Red Hat Get a Repository
      description: Retrieves the details of a specific repository including its tags, description, and visibility settings.
      tags:
      - Repositories
      parameters:
      - $ref: '#/components/parameters/RepositoryParam'
      responses:
        '200':
          description: Successfully retrieved repository details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
              examples:
                Getrepository200Example:
                  summary: Default getRepository 200 response
                  x-microcks-default: true
                  value:
                    namespace: example_value
                    name: Example Title
                    description: A sample description.
                    is_public: true
                    kind: image
                    tag_count: 10
                    status_token: example_value
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    delete:
      operationId: deleteRepository
      summary: Red Hat Delete a Repository
      description: Deletes a repository and all associated images, tags, and build history. This action is irreversible.
      tags:
      - Repositories
      parameters:
      - $ref: '#/components/parameters/RepositoryParam'
      responses:
        '204':
          description: Repository deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://quay.io/api/v1
      description: Quay.io Production API Server
  /katello/api/v2/repositories:
    get:
      operationId: listRepositories
      summary: Red Hat List Repositories
      description: Retrieves the list of repositories managed by Satellite, including those synced from Red Hat CDN and custom repositories.
      tags:
      - Repositories
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PerPageParam'
      - name: organization_id
        in: query
        description: Filter by organization.
        schema:
          type: integer
        example: '500123'
      - name: content_type
        in: query
        description: Filter by content type.
        schema:
          type: string
          enum:
          - yum
          - deb
          - docker
          - file
          - ostree
        example: yum
      responses:
        '200':
          description: Successfully retrieved repositories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRepositoryList'
              examples:
                Listrepositories200Example:
                  summary: Default listRepositories 200 response
                  x-microcks-default: true
                  value:
                    total: 10
                    subtotal: 10
                    page: 10
                    per_page: 10
                    results:
                    - id: abc123
                      name: Example Title
                      label: Example Title
                      content_type: example_value
                      url: https://www.example.com
                      last_sync:
                        id: abc123
                        state: example_value
                        started_at: '2026-01-15T10:30:00Z'
                        ended_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicAuth: []
    servers:
    - url: https://satellite.example.com
      description: Red Hat Satellite Server
components:
  schemas:
    Repository:
      type: object
      description: A container image repository in the Quay registry.
      properties:
        namespace:
          type: string
          description: The namespace the repository belongs to.
          example: example_value
        name:
          type: string
          description: The name of the repository.
          example: Example Title
        description:
          type: string
          description: A description of the repository.
          example: A sample description.
        is_public:
          type: boolean
          description: Whether the repository is publicly accessible.
          example: true
        kind:
          type: string
          description: The type of repository.
          enum:
          - image
          - application
          example: image
        tag_count:
          type: integer
          description: The number of tags in the repository.
          example: 10
        status_token:
          type: string
          description: The status token for repository notifications.
          example: example_value
    RepositoryList:
      type: object
      description: A paginated list of repositories.
      properties:
        repositories:
          type: array
          items:
            $ref: '#/components/schemas/Repository'
          example: []
        next_page:
          type: string
          description: The pagination token for the next page.
          example: example_value
    PaginatedRepositoryList:
      type: object
      properties:
        total:
          type: integer
          example: 10
        subtotal:
          type: integer
          example: 10
        page:
          type: integer
          example: 10
        per_page:
          type: integer
          example: 10
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              label:
                type: string
              content_type:
                type: string
              url:
                type: string
                format: uri
              last_sync:
                type: object
                properties:
                  id:
                    type: integer
                  state:
                    type: string
                  started_at:
                    type: string
                    format: date-time
                  ended_at:
                    type: string
                    format: date-time
          example: []
  parameters:
    RepositoryParam:
      name: repository
      in: path
      required: true
      description: The full repository path in the format namespace/repository_name.
      schema:
        type: string
    NextPageParam:
      name: next_page
      in: query
      description: The pagination token for the next page of results.
      schema:
        type: string
    PageParam:
      name: page
      in: query
      description: The page number for paginated results.
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPageParam:
      name: per_page
      in: query
      description: The number of results per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 20
  responses:
    NotFoundError:
      description: The requested resource was not found.
    BadRequestError:
      description: The request body is malformed or contains invalid values.
    UnauthorizedError:
      description: Authentication credentials are missing or invalid.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token generated from the Quay application settings for authenticating API requests.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using a valid Satellite username and password. Alternatively, a personal access token can be used.
x-refined-from:
- red-hat-quay-openapi.yml
- red-hat-satellite-openapi.yml
