openapi: 3.2.0
info:
  title: Red Hat OpenShift Cluster Manager Subscriptions API
  description: The Red Hat OpenShift Cluster Manager API provides programmatic access to provisioning, managing, and monitoring OpenShift clusters across cloud providers through the Red Hat Hybrid Cloud Console. It supports cluster lifecycle operations including creation, scaling, upgrades, and deletion of OpenShift Dedicated and ROSA clusters.
  version: '1.0'
  contact:
    name: Red Hat Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/terms-use
servers:
- url: https://api.openshift.com
  description: OpenShift Cluster Manager Production Server
security:
- bearerAuth: []
tags:
- name: Subscriptions
  description: Operations for managing OpenShift cluster subscriptions and entitlements.
paths:
  /api/accounts_mgmt/v1/subscriptions:
    get:
      operationId: listSubscriptions
      summary: Red Hat List Subscriptions
      description: Retrieves the list of OpenShift subscriptions associated with the authenticated account, including cluster entitlements and usage data.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/SizeParam'
      - $ref: '#/components/parameters/SearchParam'
      responses:
        '200':
          description: Successfully retrieved subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
              examples:
                Listsubscriptions200Example:
                  summary: Default listSubscriptions 200 response
                  x-microcks-default: true
                  value:
                    kind: example_value
                    page: 10
                    size: 10
                    total: 10
                    items:
                    - id: abc123
                      cluster_id: '500123'
                      status: example_value
                      plan:
                        id: abc123
                        type: example_value
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    SearchParam:
      name: search
      in: query
      description: A search filter expression to narrow results. Supports field comparisons using operators such as =, <>, LIKE, IN.
      schema:
        type: string
    PageParam:
      name: page
      in: query
      description: The page number for paginated results. Page numbering starts at 1.
      schema:
        type: integer
        minimum: 1
        default: 1
    SizeParam:
      name: size
      in: query
      description: The maximum number of items to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
  schemas:
    Error:
      type: object
      description: An error response from the API.
      properties:
        kind:
          type: string
          description: The error kind identifier.
          example: example_value
        id:
          type: string
          description: The numeric error identifier.
          example: abc123
        href:
          type: string
          description: A link to the error documentation.
          example: example_value
        code:
          type: string
          description: The error code.
          example: example_value
        reason:
          type: string
          description: A human-readable description of the error.
          example: example_value
      required:
      - kind
      - id
      - code
      - reason
    SubscriptionList:
      type: object
      description: A paginated list of subscriptions.
      properties:
        kind:
          type: string
          example: example_value
        page:
          type: integer
          example: 10
        size:
          type: integer
          example: 10
        total:
          type: integer
          example: 10
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The subscription identifier.
              cluster_id:
                type: string
                description: The associated cluster identifier.
              status:
                type: string
                description: The subscription status.
              plan:
                type: object
                description: The subscription plan details.
                properties:
                  id:
                    type: string
                  type:
                    type: string
          example: []
  responses:
    UnauthorizedError:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from Red Hat Single Sign-On (SSO). Tokens can be acquired using an offline token from https://sso.redhat.com/auth/realms/redhat-external.
externalDocs:
  description: OpenShift Cluster Manager API Documentation
  url: https://api.openshift.com/
