openapi: 3.2.0
info:
  title: Red Hat Quay Teams API
  description: The Red Hat Quay API provides programmatic access to the Quay container registry for managing container images, repositories, organizations, and security scanning results. It supports operations for image tagging, repository management, team permissions, robot accounts, and vulnerability scanning of container images.
  version: '1.0'
  contact:
    name: Red Hat Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/terms-use
servers:
- url: https://quay.io/api/v1
  description: Quay.io Production API Server
security:
- bearerAuth: []
tags:
- name: Teams
  description: Operations for managing teams within organizations and their repository permissions.
paths:
  /organization/{orgname}/team/{teamname}:
    put:
      operationId: createOrUpdateTeam
      summary: Red Hat Create or Update a Team
      description: Creates a new team or updates an existing team within an organization, including the team role and description.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/OrgNameParam'
      - name: teamname
        in: path
        required: true
        description: The name of the team.
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - role
              properties:
                role:
                  type: string
                  description: The role for the team.
                  enum:
                  - member
                  - creator
                  - admin
                description:
                  type: string
                  description: A description of the team.
            examples:
              CreateorupdateteamRequestExample:
                summary: Default createOrUpdateTeam request
                x-microcks-default: true
                value:
                  role: member
                  description: A sample description.
      responses:
        '200':
          description: Team updated successfully
        '201':
          description: Team created successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    OrgNameParam:
      name: orgname
      in: path
      required: true
      description: The name of the organization.
      schema:
        type: string
  responses:
    BadRequestError:
      description: The request body is malformed or contains invalid values.
    UnauthorizedError:
      description: Authentication credentials are missing or invalid.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token generated from the Quay application settings for authenticating API requests.
externalDocs:
  description: Red Hat Quay API Guide
  url: https://docs.redhat.com/en/documentation/red_hat_quay/3/html-single/red_hat_quay_api_guide/index
