openapi: 3.1.0
info:
  title: Red Hat Insights API
  description: >-
    The Red Hat Insights API provides programmatic access to predictive analytics
    and remediation services for Red Hat Enterprise Linux systems. Through the
    Hybrid Cloud Console, it enables proactive identification of security
    vulnerabilities, configuration issues, performance risks, and compliance
    gaps across registered RHEL systems, along with automated remediation
    recommendations.
  version: '1.0'
  contact:
    name: Red Hat Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/terms-use
externalDocs:
  description: Red Hat Insights API Documentation
  url: https://console.redhat.com/docs/api
servers:
  - url: https://console.redhat.com/api
    description: Red Hat Hybrid Cloud Console Production Server
tags:
  - name: Advisor
    description: >-
      Operations for retrieving and managing Advisor recommendations that
      identify configuration risks and performance issues across RHEL systems.
  - name: Systems
    description: >-
      Operations for retrieving registered systems and their Insights status.
  - name: Topics
    description: >-
      Operations for retrieving curated topics that group related
      recommendations by technology area or risk category.
  - name: Rules
    description: >-
      Operations for listing and retrieving Advisor rules that define the
      detection logic for system issues.
  - name: Stats
    description: >-
      Operations for retrieving aggregate statistics about system health
      and recommendation coverage.
security:
  - bearerAuth: []
paths:
  /insights/v1/system/:
    get:
      operationId: listSystems
      summary: List systems
      description: >-
        Retrieves a paginated list of RHEL systems registered with Red Hat
        Insights, including their stale status and last check-in time.
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: display_name
          in: query
          description: Filter systems by display name.
          schema:
            type: string
        - name: sort
          in: query
          description: >-
            The field to sort results by. Prefix with a dash for descending
            order.
          schema:
            type: string
            enum:
              - display_name
              - -display_name
              - last_seen
              - -last_seen
              - hits
              - -hits
      responses:
        '200':
          description: Successfully retrieved systems
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSystemList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /insights/v1/system/{system_id}/:
    get:
      operationId: getSystem
      summary: Get a system
      description: >-
        Retrieves the details of a specific registered system, including its
        display name, last check-in time, and total number of active
        recommendations.
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/SystemIdParam'
      responses:
        '200':
          description: Successfully retrieved system details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /insights/v1/rule/:
    get:
      operationId: listRules
      summary: List advisor rules
      description: >-
        Retrieves a paginated list of Advisor rules that detect configuration
        issues, security risks, and performance problems on RHEL systems.
      tags:
        - Rules
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: category
          in: query
          description: Filter rules by category.
          schema:
            type: integer
            enum: [1, 2, 3, 4]
        - name: impact
          in: query
          description: Filter rules by impact level.
          schema:
            type: string
        - name: likelihood
          in: query
          description: Filter rules by likelihood level.
          schema:
            type: string
        - name: has_playbook
          in: query
          description: Filter to rules that have remediation playbooks.
          schema:
            type: boolean
        - name: sort
          in: query
          description: The field to sort results by.
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRuleList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /insights/v1/rule/{rule_id}/:
    get:
      operationId: getRule
      summary: Get an advisor rule
      description: >-
        Retrieves the details of a specific Advisor rule, including its
        description, resolution steps, affected system count, and whether
        an Ansible remediation playbook is available.
      tags:
        - Rules
      parameters:
        - name: rule_id
          in: path
          required: true
          description: The unique identifier of the rule.
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /insights/v1/rule/{rule_id}/systems/:
    get:
      operationId: listRuleSystems
      summary: List systems affected by a rule
      description: >-
        Retrieves the list of systems that are affected by a specific Advisor
        rule and where the recommendation is currently active.
      tags:
        - Rules
      parameters:
        - name: rule_id
          in: path
          required: true
          description: The unique identifier of the rule.
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successfully retrieved affected systems
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSystemList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /insights/v1/topic/:
    get:
      operationId: listTopics
      summary: List topics
      description: >-
        Retrieves the list of curated Advisor topics that group related rules
        and recommendations by technology area, risk category, or common
        concern.
      tags:
        - Topics
      responses:
        '200':
          description: Successfully retrieved topics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Topic'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /insights/v1/stats/systems/:
    get:
      operationId: getSystemStats
      summary: Get system statistics
      description: >-
        Retrieves aggregate statistics about registered systems, including
        total system count, stale systems, and systems with active
        recommendations.
      tags:
        - Stats
      responses:
        '200':
          description: Successfully retrieved system statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStats'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /insights/v1/stats/rules/:
    get:
      operationId: getRuleStats
      summary: Get rule statistics
      description: >-
        Retrieves aggregate statistics about Advisor rules, including total
        rule count, rules by category, and rules by severity.
      tags:
        - Stats
      responses:
        '200':
          description: Successfully retrieved rule statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleStats'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token obtained from Red Hat SSO using an offline
        token from https://access.redhat.com/management/api.
  parameters:
    SystemIdParam:
      name: system_id
      in: path
      required: true
      description: The unique identifier (UUID) of the system.
      schema:
        type: string
        format: uuid
    LimitParam:
      name: limit
      in: query
      description: The maximum number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    OffsetParam:
      name: offset
      in: query
      description: The number of results to skip before returning.
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    UnauthorizedError:
      description: Authentication credentials are missing or invalid.
    NotFoundError:
      description: The requested resource was not found.
  schemas:
    System:
      type: object
      description: >-
        A RHEL system registered with Red Hat Insights for monitoring and
        recommendations.
      properties:
        system_uuid:
          type: string
          format: uuid
          description: The unique identifier of the system.
        display_name:
          type: string
          description: The display name of the system.
        last_seen:
          type: string
          format: date-time
          description: The last time the system checked in with Insights.
        stale_at:
          type: string
          format: date-time
          description: The date when the system will be considered stale.
        hits:
          type: integer
          description: The number of active Advisor recommendations.
        critical_hits:
          type: integer
          description: The number of critical severity recommendations.
        important_hits:
          type: integer
          description: The number of important severity recommendations.
        moderate_hits:
          type: integer
          description: The number of moderate severity recommendations.
        low_hits:
          type: integer
          description: The number of low severity recommendations.
        rhel_version:
          type: string
          description: The RHEL version running on the system.
    PaginatedSystemList:
      type: object
      description: A paginated list of systems.
      properties:
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        data:
          type: array
          items:
            $ref: '#/components/schemas/System'
    Rule:
      type: object
      description: >-
        An Advisor rule that defines detection logic for a specific system
        issue, along with resolution steps and remediation guidance.
      properties:
        rule_id:
          type: string
          description: The unique identifier of the rule.
        description:
          type: string
          description: A description of what the rule detects.
        active:
          type: boolean
          description: Whether the rule is currently active.
        category:
          type: object
          description: The category the rule belongs to.
          properties:
            id:
              type: integer
              description: The category identifier.
            name:
              type: string
              description: The category name.
              enum:
                - Availability
                - Security
                - Stability
                - Performance
        impact:
          type: object
          description: The impact level of the rule.
          properties:
            name:
              type: string
            value:
              type: integer
        likelihood:
          type: integer
          description: The likelihood value (1-4).
        total_risk:
          type: integer
          description: The calculated total risk score.
        risk_of_change:
          type: integer
          description: The risk associated with applying the remediation.
        has_playbook:
          type: boolean
          description: Whether an Ansible remediation playbook is available.
        publish_date:
          type: string
          format: date-time
          description: When the rule was published.
        systems_affected:
          type: integer
          description: The number of systems currently affected by this rule.
        resolution_set:
          type: array
          description: Available resolution options for the rule.
          items:
            type: object
            properties:
              system_type:
                type: integer
                description: The system type identifier.
              resolution:
                type: string
                description: The resolution description in markdown format.
              has_playbook:
                type: boolean
                description: Whether this resolution has a playbook.
    PaginatedRuleList:
      type: object
      description: A paginated list of rules.
      properties:
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Rule'
    Topic:
      type: object
      description: >-
        A curated Advisor topic that groups related rules and recommendations.
      properties:
        name:
          type: string
          description: The name of the topic.
        slug:
          type: string
          description: The URL-friendly slug for the topic.
        description:
          type: string
          description: A description of the topic.
        tag:
          type: string
          description: The tag associated with the topic.
        featured:
          type: boolean
          description: Whether the topic is featured.
        impacted_systems_count:
          type: integer
          description: The number of systems impacted by rules in this topic.
    SystemStats:
      type: object
      description: Aggregate statistics about registered systems.
      properties:
        total:
          type: integer
          description: The total number of registered systems.
        stale:
          type: integer
          description: The number of stale systems.
        with_hits:
          type: integer
          description: Systems with at least one active recommendation.
    RuleStats:
      type: object
      description: Aggregate statistics about Advisor rules.
      properties:
        total:
          type: integer
          description: The total number of active rules.
        by_category:
          type: object
          description: Rule counts by category.
          additionalProperties:
            type: integer
        by_severity:
          type: object
          description: Rule counts by total risk severity.
          additionalProperties:
            type: integer
    PaginationMeta:
      type: object
      description: Pagination metadata for list responses.
      properties:
        count:
          type: integer
          description: The total number of results.
    PaginationLinks:
      type: object
      description: Pagination links for navigating result sets.
      properties:
        first:
          type: string
          format: uri
          description: URL to the first page.
        last:
          type: string
          format: uri
          description: URL to the last page.
        next:
          type: string
          format: uri
          nullable: true
          description: URL to the next page.
        previous:
          type: string
          format: uri
          nullable: true
          description: URL to the previous page.
